.new_post{
    background-color: antiquewhite;
    height: 800px;
    width: 600px;
    border-radius: 60px;
    padding-left: 20px;
}
#user_name{
 padding-left: 30px;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* #nav{
    background-color: #E5A099;
    height: 60px;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
    padding: 0px;
    margin: 0px;
    align-items:center;
}
.btn-link{
    display: flex;
    justify-content:flex-end;
    color:red
}
.btn-link-profile{
    color: black;
    text-decoration: none;
    padding-left: 20px;
    justify-content:flex-start;
} */
#nav{
    background-color: #E5A099;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
}
.btn-link{
    color: black;
    text-decoration: none;
    padding-left: 20px;
}