*{
  font-family: 'Inconsolata', monospace;
}
.new_post{
    background-color: antiquewhite;
    height: 800px;
    width: 600px;
    border-radius: 60px;
    padding-left: 20px;
}
#user_name{
 padding-left: 30px;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* #nav{
    background-color: #E5A099;
    height: 60px;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
    padding: 0px;
    margin: 0px;
    align-items:center;
}
.btn-link{
    display: flex;
    justify-content:flex-end;
    color:red
}
.btn-link-profile{
    color: black;
    text-decoration: none;
    padding-left: 20px;
    justify-content:flex-start;
} */
#nav{
    background-color: #E5A099;
    height: 60px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
}
.btn-link{
    color: black;
    text-decoration: none;
    padding-left: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

#form{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #FCF6E5;
  width: 50vw;
  height: 85vh;
  border-radius: 22px;
  padding-left: 30px;
  padding-bottom: 30px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 20px 30px #E5A099;
}
